<html>
  <head>
    <title>TenUp</title>
    <link rel="stylesheet" href="/static/dist/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/dist/css/style.min.css" />
  </head>
  <body>
    <div class="container-fluid" id="app">Loading App....</div>

    <script src="/static/dist/js/bundle.js"></script>
  </body>
</html>
